@font-face {
    font-family:"muestra_1";
	src:url("fonts/coolvetica rg.ttf")format("truetype");

}

@font-face {
    font-family:"muestra_2";
	src:url("fonts/KGDefyingGravityBounce.ttf")format("truetype");

}

@font-face {
    font-family:"muestra_3";
	src:url("fonts/KGDefyingGravity.ttf")format("truetype");

}

@font-face {
    font-family:"muestra_4";
	src:url("fonts/GrandHotel-Regular.ttf")format("truetype");

}

@font-face {
    font-family:"muestra_5";
	src:url("fonts/Base05.ttf")format("truetype");

}

@font-face {
    font-family:"muestra_6";
	src:url("fonts/Singer Mears.ttf")format("truetype");

}